{# Unify template for displaying frontpage #}


<body>

    <div class="wrapper">

        {% include directory ~ '/partials/header.html.twig' %}

        {#Main Container For the Services,Recent Works and Welcome Block#}
        <div class="light">
            <div class="container content-sm">

                {#Welcome Block in Content Region#}
                <div class="row margin-bottom-30">

                    <div class=".col-md-8 .col-md-offset-2 md-margin-bottom-40 margin-right-10 margin-left-10">
                        {#{{ page.content }}#}
                        {{ page.featured_top }}
                    </div>

                </div>

                {#Status messages and Help Block#}
                {{ page.help }}

                {#Purchase Block in Highlight Region Starts#}
                {{ page.highlighted }}
                {#Purchase Block Ends#}

                {#Recent Products View Block in Featured First Region#}
                <div class="margin-bottom-30">
                    {{ page.featured_first }}
                </div>

            </div>
        </div>
        {#End the Main Container#}
    </div>

    {% include directory ~ '/partials/footer.html.twig' %}

</body>