<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">

                <div class="other col-md-3 md-margin-bottom-40">
                    {{ page.footer_first }}
                </div>

                <div class="col-md-3 md-margin-bottom-40">
                    {{ page.footer_second }}
                </div>

                <div class="col-md-3 md-margin-bottom-40">
                    {{ page.footer_third }}
                </div>

                <div class="col-md-3 map-img md-margin-bottom-40">
                    {{ page.footer_fourth }}
                </div>

            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ page.footer_bottom_first }}
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    {{ page.footer_bottom_second }}
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div>

</div>
