{# Unify template for displaying frontpage #}


<body>

    <div class="wrapper">

        {% include directory ~ '/partials/header.html.twig' %}

        {#Temporary Placeholder Block for Main Slider on Frontpage#}
        <div class="slider-inner">
            <div id="da-slider" class="da-slider">
                <div class="da-slide da-slide-current">
                    <h2><i>CLEAN &amp; FRESH</i> <br> <i>FULLY RESPONSIVE</i> <br> <i>DESIGN</i></h2>
                    <p><i>Lorem ipsum dolor amet</i> <br> <i>tempor incididunt ut</i> <br> <i>veniam omnis </i></p>
                    {#<div class="da-img"><img class="img-responsive" src="http://unify.local/themes/unify/css/img/1.png" alt=""></div>#}
                </div>
                <div class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </div>
                <nav class="da-dots"><span class="da-dots-current"></span><span></span><span></span></nav></div>
        </div>
        {#Main Slider Placeholder Ends#}

        {#Purchase Block in Highlight Region Starts#}
        {{ page.highlighted }}
        {#Purchase Block Ends#}

        {#Main Container For the Services,Recent Works and Welcome Block#}
        <div class="container content-sm">
            {#Status messages and Help Block#}
            {{ page.help }}

            {#Services Block in Featured Top Region#}

            <div class="row margin-bottom-30">
                {{ page.featured_top }}
            </div>

            {#Recent Products View Block in Featured First Region#}
            {{ page.featured_first }}

            {#Welcome Block in Content Region#}
            <div class="row margin-bottom-30">

                <div class="col-md-8 md-margin-bottom-40">
                    {{ page.content }}
                </div>

                {#Placeholder for Latest Shots Slideshow#}
                <div class="col-md-4">
                    <div class="headline"><h2>Latest Shots</h2></div>
                    <div id="myCarousel" class="carousel slide carousel-v1">
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="/sites/default/files/inline-images/project_thumbnail_0.jpg" alt="">
                                <div class="carousel-caption">
                                    <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="/" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="/" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {#End of Latest Shots Placeholder#}

            </div>

            {#Placeholder for Our Clients Slideshow#}
            <div class="headline"><h2>Our Clients</h2></div>
            {#End of Our Clients Placeholder#}

        </div>
        {#End the Main Container#}
    </div>

    {% include directory ~ '/partials/footer.html.twig' %}

</body>